body{
    color: white;
}

p{
    text-decoration: white;

}

li{
    list-style: none;
}

li span{
    margin-left: 20px;
}
span i{
    margin-left: 20px;
}
.full{
    background: url("./imageste/template.jpg");
    width: 100vw;
    height: 100vh;   
    background-repeat: no-repeat;
    background-size: cover; 
}
