body{
    color: white;
}

p{
    text-decoration: white;

}

li{
    list-style: none;
}

li span{
    margin-left: 10px;
}
span i{
    margin-left: 10px;
}
.full{
    background: url("./imageste/tempct.jpg");
    width: 100vw;
    height: 100vh;   
    background-repeat: no-repeat;
    background-size: cover; 
}

.nav-list > span{
margin: 10px;
}

container{
    padding: 16px;
}